body {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  min-width: 360px;
  max-width:  580px;
  margin:  auto;
}

.swipeView {
  display: grid;
  grid-template-columns: repeat(2, 99.5%);
  will-change: transform;
  align-content: center;
  overflow-x: auto;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
}

section {
  height: 80vh;
  scroll-snap-align: start;
}

.outward {
}

.return {
  border-left:  1px dotted darkgoldenrod;
}

button {
  margin-bottom: 5px;
  margin-left:  10px;
  border-radius: 5px;
  height: 30px;
  overflow: hidden;
  width: 100px;
  background-color: darkgoldenrod;
  color:  white;
  border:  1px solid white;
}

.logo {
  margin: 5px 0 0 0;
  width: 32px;
  height: 32px;
}

.credit {
  margin-top:  5px;
  height:  4%;
}

.title {
  font-size:  0.8em;
  margin:  5px auto auto 0;
  color:  gold;
}

.slogan {
  font-size:  0.4em;
  margin:  15px auto auto 0;
}

p {
  margin: 10px auto 5px auto;
  color:  black;
}

.heading {
  display:  flex;
  flex-direction: row;
  background-color: darkgoldenrod;
  color: white;
  font-size:  28px;
  border-bottom: 1px solid darkslategrey ;
}

.last-update {
  font-size:  0.7em;
}

.update-button {
  margin: 10px auto 10px auto;
}

.journey {
  background-color: darkgoldenrod;
  padding: 10px 0 10px 0;
}

.select-outward {
  border-radius: 5px;
  height: 30px;
  overflow: hidden;
  width: 160px;
  background-color: darkgoldenrod;
  color:  white;
  border:  1px solid white;
  font-size:  0.8em;
}

.select-return {
  padding-left:  5px;
  border-radius: 5px;
  height: 30px;
  overflow: hidden;
  width: 160px;
  background-color: goldenrod;
  color:  white;
  border:  none;
  font-size:  0.8em;
  -webkit-appearance: textfield;
}

.results {
  margin-top:  0;
}

.delay-list {
  border-collapse: collapse;
  margin:  0 auto 0 auto;
  width:  95%;
  text-align: center;
}

.delay-list td {
  text-align: left;
  border-bottom: 1px dotted goldenrod;
}

 .delay-list th {
  text-align: left;
  font-size: 0.8em;
  color:  darkgoldenrod;
  border-bottom:  1px solid darkgoldenrod;
 }

 .delayed {
  color:  red;
 }

 .on-time {
  color:  green;
 }

.input {
  list-style-type: none;
  width: 100%;
  clear: both;
  padding-left: 0;
  text-align: center;
}

.swipe-right {
  color:  gold;
  font-size: 24px;
  position:  absolute;
  top:  55px;
  right:  -20px;
}

.swipe-left {
  color:  gold;
  font-size: 24px;
  position:  absolute;
  top:  55px;
  right:  10px;
}

.nrcc-message {
  color:  darkred;
  font-size: 0.8em;
  text-align: center;
  width:  90%;
  margin:  20px auto 0 auto;
}

.nrcc-text {
  color:  darkred;
  text-align: center;
}

.refresh {
  color:  darkred;
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  padding: 1rem;
  font-size: 1em;
}

.footer {
  max-width: 580px;
  font-size:  0.6em;
  position: absolute;
  margin:  auto;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: whitesmoke;
  color:  white;
  border-top:  1px solid darkgoldenrod;
}

@media screen and (max-width: 480px) {
   body { margin: auto;
          font-size: 1em;
   }
 }